

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Funnel Sans', sans-serif;
}

/* Body */
body {
    margin: 0 10%;
}

/* Main */
main{
    padding: 3rem;
}

/* Colors Section */


.section-group {
    padding: 10px;
    margin: 1.5rem auto;
    border: 2px solid gray;
}
.elements-group{
    width: 100%;
}

.box-group {
    text-align: center;
    display: inline-block;
    width: 25%;
    margin: 20px auto;
    padding: 3rem;
}

/* Individual Colors */
#navy-blue {
    color: white;
    background-color: #001A6E;
}

#ocean-blue {
    color: white;
    background-color: #074799;
}

#forest-green {
    color: white;
    background-color: #009990;
}

#sand-teal {
    background-color: #E1FFBB;
}


/* Fonts Section */

.font-title {
    text-decoration: underline;
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.font-group{
    display: inline-block;
    margin: 20px auto;
    padding: .5rem;
}

.funnel-font, .markazi-font, .nunito-font {
    line-height: 24px;
    font-size: 20px;
}

.funnel-font > .regular {
    font-weight: 400;
}
.funnel-font > .bold {
    font-weight: bold;
}
.funnel-font > .light {
    font-style: italic;
    font-weight: lighter;
}

.markazi-font {
    font-family: 'Markazi Text', 'Times New Roman', Times, serif;
}

.markazi-font > .bold {
    font-weight: bold;
}

.markazi-font > .light {
    font-style: italic;
    font-weight: 500;
}

.nunito-font {
    font-family: 'Nunito',sans-serif;
}
.nunito-font > .regular {
    font-weight: 400;
}

.nunito-font > .bold {
    font-weight: bold;
}

.nunito-font > .light {
    font-style: italic;
    font-weight: lighter;
}


/* Text styles section */
.text-style-container{
    display: block;
    margin: 20px 20px;
    padding: .5rem;
}

/* General classes */
.mb-1 {
    margin-bottom: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}

.text-style-title{
    font-weight: 700;
    font-size: 26px;
    font-family: 'Nunito';
}

.text-style-subtitle{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Markazi Text';
}
